# Merge craiglist data with synthetic census data

Steps: 

1. Get craigslist data 
 - Query from remote database in batches based on FIPS
 - Joing to census via FIPS code
2. Get census data 
 - Aggregate to BG
3. Merge together

Can process in batches, one state at a time, or get data by region.

TODO: 
 - The census data for DC are missing. The files are there but they contain no data.
 - If need to look at education or other person data, aggregate person data to household and then block group

In [1]:
import pandas as pd
import psycopg2
import paramiko
import os
import numpy as np
import json
import zipfile

### Craigslist data table columns

pid          | character varying(25)  |
 date         | date                   | 
 region       | character varying(50)  | 
 neighborhood | character varying(200) | 
 rent         | double precision       | 
 bedrooms     | double precision       | 
 sqft         | double precision       | 
 rent_sqft    | double precision       | 
 longitude    | double precision       | 
 latitude     | double precision       | 
 county       | character varying(20)  | 
 fips_block   | character varying(20)  | 
 state        | character varying(20)  | 
 bathrooms

**FIPS code format**

 53-----033---001701--1--015

[state][county][tract][bg][block]

Note: for DC, county='001'

### Synthetic census data - variables

**Household data**: household_id,serialno,persons,cars,income,race_of_head,age_of_head,workers,state,county,tract,block group,children,tenure,recent_mover

**Person data**: person_id,member_id,age,relate,edu,sex,hours,earning,race_id,household_id,student,work_at_home,worker

## Configure connection parameters

Make sure you have two files saved in the same directory, postgres_settings.json and ssh_settings.json.

In [2]:
DATA_DIR=os.path.join('..','data') 
"""Path to local data directory"""

#read postgres connection parameters
with open('postgres_settings.json') as settings_file:    
    settings = json.load(settings_file)

DBNAME = settings['dbname']
USER = settings['user']
HOST = settings['host']
PASSWORD = settings['password']

conn_str = "dbname = {0} user = {1} host = {2} password = {3}".format(DBNAME, USER, HOST, PASSWORD)

try:
    conn = psycopg2.connect(conn_str)
    cur = conn.cursor()
except:
    print ("Cannot connection. Check settings")

In [3]:
# TODO: add putty connection too. 
#read SSH connection parameters
with open('ssh_settings.json') as settings_file:    
    settings = json.load(settings_file)

HOSTNAME = settings['hostname']
USERNAME = settings['username']
PASSWORD = settings['password']
LOCAL_KEY_DIR = settings['local_key_dir']

CENSUS_DIR = 'synthetic_population'
"""Remote directory with census data"""

RESULTS_DIR = 'craigslist_census'
"""Remote directory for results"""

# estbalish SSH connection
ssh = paramiko.SSHClient() 
ssh.load_host_keys(LOCAL_KEY_DIR)
ssh.set_missing_host_key_policy(paramiko.AutoAddPolicy())
ssh.connect(HOSTNAME,username=USERNAME, password=PASSWORD)
sftp = ssh.open_sftp()

### Local data files

Local files with with block-level data from urbansim

In [9]:
BLOCK_DIR = os.path.join('..','data','urbansim')
BLOCK_ZFILE = 'ba_block_variables.csv.zip'
BLOCK_FILE = 'ba_block_variables.csv'

### Create FIPS look-up tables

In [4]:
# make dictionary of states and fips codes. 
fips_state = pd.read_csv(os.path.join(DATA_DIR,'state_fips_codes.csv'),dtype=str)
fips2state=dict(zip(fips_state['FIPS'],fips_state['USPS']))
state2fips=dict(zip(fips_state['USPS'],fips_state['FIPS']))

# Make lookup for county to MPO code 
mpo_counties = pd.read_csv(os.path.join(DATA_DIR,'us_2015_mpo_regions_counties_v1.csv'), encoding='latin1', dtype={'MPO_ID':str,'COUNTYFP':str,'STFIPS':str})
mpo_counties['COUNTYFP'] = mpo_counties['COUNTYFP'].str.zfill(2)  
mpo_counties['st_co_fips'] = mpo_counties['STFIPS']+mpo_counties['COUNTYFP']  # we will want to join on 2-char state + 3-char county fips
county2mpo=dict(zip(mpo_counties['st_co_fips'],mpo_counties['MPO_ID']))  # do we want MPO_ID or do we want GEOID? 
mpo_counties.head()

,ID,MPO_ID,MPONAME,STATE,STFIPS,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,...,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,PERIMETER,area_sqmi,st_co_fips
0,1826900.0,47198201,Johnson City Metropolitan Transportation Plann...,TN,47,47,163,1639793,47163,Sullivan,...,28700.0,NaN,A,1.070725e+09,4.220920e+07,36.510213,-82.299396,71837.801334,0.756540,47163
1,1541707.0,29201300,Southeast Metropolitan Planning Organization (...,MO,29,17,003,424203,17003,Alexander,...,16020.0,NaN,A,6.099969e+08,4.423719e+07,37.183657,-89.349516,6972.897419,0.591829,29003
2,2101128.0,51197401,Richmond Area MPO,VA,51,51,670,1498428,51670,Hopewell,...,40060.0,NaN,F,2.665508e+07,1.324078e+06,37.291010,-77.298944,6041.591069,0.257294,51670
3,220693.0,15201300,Maui MPO,HI,15,15,009,365283,15009,Maui,...,27980.0,NaN,A,-1.286608e+09,-1.091674e+09,20.855931,-156.601550,299148.486465,728.079214,15009
4,220707.0,15197500,Oahu MPO,HI,15,15,003,365281,15003,Honolulu,...,46520.0,NaN,A,1.555505e+09,-2.400273e+08,21.461365,-158.201974,329335.691836,610.910815,15003

In [46]:
def run_query(q):
    """ Get results given SQL query"""
    cur.execute(q)
    return(cur.fetchall())

def get_craiglist(filters, split_fips=True):
    """Get craiglist data from database.
    Args: 
        filters (list): list of strings containing filter criteria. Format as individual SQL WHERE statements. E.g., ["region='sandiego'","rent>100"]
        split_fips (bool): if True, split fips code into block and fips12 (useful if merging wtih blockgroup)
    Returns: 
        DataFrame: listings data. 
    """
    #q="SELECT pid,date,rent,bedrooms,bathrooms,sqft,rent_sqft,fips_block,state,region,longitude,latitude FROM rental_listings WHERE state='{}';".format(state)
    filters_str = ' AND '.join([x for x in filters])
    q="SELECT pid,date,rent,bedrooms,bathrooms,sqft,rent_sqft,fips_block,state,region,longitude,latitude FROM rental_listings WHERE {};".format(filters_str)
    results=run_query(q)
    df=pd.DataFrame(results,columns=['listing_id', 'date','rent','bedrooms','bathrooms','sqft','rent_sqft','fips_block','state','region','lng','lat'] )  # put it all into a dataframe
    if split_fips==True:
        # split FIPS into different columns - split off the last 3 chars
        df['block']=df.fips_block.str[-4:]
        df['fips12']=df.fips_block.str[:-3]
    return(df)

def read_census_file(fname):
    """Read census csv file via SFTP and return as dataframe."""
    with sftp.open(os.path.join(CENSUS_DIR,fname)) as f:
        df = pd.read_csv(f, delimiter=',',dtype={'age_of_head':float, 'block group':str, 'cars':float, 'children':float, 'county':str,
           'household_id':str, 'income':float, 'persons':float, 'race_of_head':str, 'recent_mover':str,
           'serialno':str, 'state':str, 'tenure':str, 'tract':str, 'workers':float})
    return df

def write_results_file(data,fname):
    """Write merged data to csv file via SFTP."""
    with sftp.open(os.path.join(RESULTS_DIR,fname),'w') as f:
        data.to_csv(f,index=True)
    return

def get_census_by_state(state, table='households'): 
    """Return all census data for state given two-char abbreviation. Can be 'households' or 'persons' data. """ 
    filelist=sftp.listdir(CENSUS_DIR)
    if table=='households':
        files = [f for f in filelist if f[:5]=='hh_{}'.format(state)]
    elif table=='persons':
        files = [f for f in filelist if f[:4]=='p_{}'.format(state)]
    #files = files[:3]  # uncomment this line for testing.
    new_df = pd.DataFrame()
    for f in files:
        df = read_census_file(f)
        new_df = pd.concat([new_df,df])
    return(new_df)

def strip_zeros(s):
    """Remove '.0 from end of string"""
    if s.endswith('.0'):
        return(s[:-2])
    else:
        return(s)

def format_hh_data(df):
    """Fix formatting for hhs census data. Replace '' strings with zero. Format other strings."""

    df['county'] = df['county'].str.zfill(2)  # make county 3-char string.
    
    for col in ['children','workers']:
        df[col] = df[col].replace('','0')

    for col in ['race_of_head','recent_mover','tenure']:
        df[col] = df[col].astype(str)
        df[col] = df[col].map(strip_zeros)  # make sure strings are formatted. 
    return(df)

def aggregate_census(df, groupby_cols=['county','tract','block group'],cols_to_sum=['cars','children','persons','workers'], cols_to_median=['age_of_head','income'],categ_cols=['race_of_head','recent_mover','tenure'],id_col='serialno',table='hhs'):
    """Aggregate census table to block group. Made this for hh data, may need to revised for persons data.
    Args: 
        groupby_cols (list): names of columns to group by (default=['county','tract','block group'])
        cols_to_sum (list): names of columns for which to compute totals. 
        cols_to_median (list): names of columns for which to compute medians
        categ_cols (list): names of categorical columns
        id_col (str): name of column that serves as the id column, to use in counting rows. 
        table (str): 'hhs' (default) or 'per'
    Returns: 
        DataFrame: aggregated data. 
        """
    # For some columns we'll want to find the sum or average/median. These will need only a simple groupby 
    sums = df.groupby(by=groupby_cols).sum()[cols_to_sum]
    sums.columns = [x+'_tot' for x in cols_to_sum]
    
    medians = df.groupby(by=groupby_cols).median()[cols_to_median]
    medians.columns = [x+'_med' for x in cols_to_median]
    
    counts = pd.DataFrame(df.groupby(by=groupby_cols).count()[id_col])
    counts.columns=[table+'_tot']

    # Categorical columns will need pivot tables. 
    categoricals = pd.DataFrame(index=counts.index)
    for col in categ_cols:
        pivoted=df.pivot_table(index = groupby_cols, columns = col, aggfunc='count')[id_col]
        pivoted.columns = [col+'_'+x for x in pivoted.columns]
        pivoted.columns = pivoted.columns.map(strip_zeros)
        # merge back together
        categoricals = pd.merge(categoricals, pivoted, left_index=True, right_index=True)

    # put all back together in one table
    merged = pd.merge(sums, medians, left_index=True, right_index=True)
    merged = pd.merge(merged, counts, left_index=True, right_index=True)
    merged = pd.merge(merged, categoricals, left_index=True, right_index=True)

    # check lengths of dataframes to detect any problems in grouping or merging
    lengths = [len(sums),len(medians),len(counts),len(categoricals),len(merged)]
    if len(set(lengths))>1:
        print('Warning: Aggregated tables have different lengths.',lengths,'for sums, medians, counts, categoricals, and merged.')
    
    return(merged)

def match_mpo(s, mpo_dict=county2mpo):
    """Match a 5-char state-county FIPS code to an MPO code
    Args: 
        s (str): 5-char state-county string
        mpo_dict (dict): county2mpo dictionary
    Returns: 
        str: MPO code
    """
    try: 
        return mpo_dict[s]
    except KeyError: # in this case, the county is not in an MPO
        return ''

In [10]:
def run_all(state, filters=None):
    """Get craigslist data and merge with census data, by state, and save.  with additional filters if needed. 
    Args: 
        state (str): 2-char state abbreviation
        filters (list): additional filters. Do not need to include state in filter list
    """
    
    # load and prepare craiglist data
    
    # If filters are provided, use them to filter data
    if filters:
        filters.append("state='{}'".format(state))
        print(filters)
        df_cl=get_craiglist(filters)
    # If no filters provided, get all data for the specified state. 
    else:
        df_cl=get_craiglist(["state='{}'".format(state)])
    
    df_cl['st_co_fps'] = df_cl.fips_block.map(lambda x: x[:5])
    df_cl['mpo_id'] = df_cl.st_co_fps.map(match_mpo)

    # load and prepare census data for households
    hhs = get_census_by_state(state, table='households')
    hhs = format_hh_data(hhs)
    hhs_bg = aggregate_census(hhs)
    hhs_bg=hhs_bg.reset_index()
    hhs_bg['fips12']=state2fips[state]+hhs_bg['county']+hhs_bg['tract']+hhs_bg['block group'] # create 12-digit FIPS code for merging. 

    # merge with craigslist data. 
    merged = pd.merge(df_cl, hhs_bg, on='fips12',how='left')
    merged = merged.set_index('listing_id')

    #TODO: add persons data here, if needed. 

    # Keep only columns we'll need.
    cols_to_keep=['date','rent','bedrooms','bathrooms','sqft','rent_sqft','fips_block','state','region','mpo_id','lng','lat','cars_tot','children_tot','persons_tot','workers_tot','age_of_head_med','income_med','hhs_tot','race_of_head_1','race_of_head_2','race_of_head_3','race_of_head_4','race_of_head_5','race_of_head_6','race_of_head_7','race_of_head_8','race_of_head_9','recent_mover_0','recent_mover_1','tenure_1','tenure_2']
    
    # This is a bit of a hack in case some columns are missing in some states. 
    for col in cols_to_keep: 
        if col not in merged.columns:
            merged[col] = np.nan

    # save file either locally or remotely. 
    print('Saving data for {s}: {m} rows'.format(s=state,m=len(merged)))
    outfile = 'cl_census_{}.csv'.format(state)
    #merged[cols_to_keep].to_csv(os.path.join(DATA_DIR,outfile), index=True)  # uncomment to save locally

    #write_results_file(merged[cols_to_keep], outfile)  # uncomment to save remotely. 
    return merged[cols_to_keep]

## Get data for a single region

Use this to get data for a single region, for use in our preliminary analysis

In [11]:
df_bayarea = run_all(state='CA',filters=["region = 'sfbay'","rent>0"])   # define whatever filters you want here.
df_bayarea.head()

["region = 'sfbay'", 'rent>0', "state='CA'"]
Saving data for CA: 125539 rows

,date,rent,bedrooms,bathrooms,sqft,rent_sqft,fips_block,state,region,mpo_id,...,race_of_head_4,race_of_head_5,race_of_head_6,race_of_head_7,race_of_head_8,race_of_head_9,recent_mover_0,recent_mover_1,tenure_1,tenure_2
listing_id,,,,,,,,,,,,,,,,,,,,,
5925013098,2016-12-18,2495.0,0.0,NaN,398.0,6.268844,060750162001001,CA,sfbay,06197001,...,1.0,NaN,42.0,2.0,14.0,27.0,276.0,153.0,51.0,378.0
5925007228,2016-12-18,3300.0,2.0,NaN,1357.0,2.431835,060133342005000,CA,sfbay,06197001,...,NaN,NaN,NaN,NaN,NaN,NaN,357.0,72.0,225.0,204.0
5925014745,2016-12-18,1657.0,2.0,NaN,915.0,1.810929,060855091022006,CA,sfbay,06197001,...,NaN,2.0,782.0,NaN,8.0,24.0,707.0,539.0,172.0,1074.0
5921274233,2016-12-18,1700.0,1.0,NaN,500.0,3.400000,060871006002003,CA,sfbay,06197502,...,NaN,NaN,14.0,NaN,NaN,NaN,337.0,68.0,268.0,137.0
5925012514,2016-12-18,2195.0,1.0,NaN,443.0,4.954853,060750125011002,CA,sfbay,06197001,...,NaN,10.0,473.0,8.0,69.0,61.0,1124.0,68.0,2.0,1190.0

In [ ]:
# save locally
outfile = 'sfbay_listings_04092017.csv'
df_bayarea.to_csv(os.path.join(DATA_DIR,outfile), index=True)

## Process all data by state
Use this to merge all the data by state

In [ ]:
for state in fips_state['USPS']:# uncomment when done with testing. 
    if state != 'DC':   # the DC census data is missing. 
        print('\n Working on',state)
        df_state = run_all(state)

In [ ]:
df_state.head()

In [ ]:
ssh.close()

## Merge listings data with urbansim block-level data

In [8]:
# first unzip csv file into temp dir
os.mkdir('temp') # make temp dir for unzipped files
zip_ref = zipfile.ZipFile(os.path.join(BLOCK_DIR,BLOCK_ZFILE), 'r')
zip_ref.extractall('temp')
zip_ref.close()

In [62]:
# temporarily read first 100 lines just to see header names
df_temp = pd.read_csv(os.path.join('temp',BLOCK_FILE), nrows=100, dtype={'block_id':str})
print(df_temp.shape)
df_temp.head()

(100, 1015)

,block_id,x,y,res_rents,res_values,square_meters_land,puma10_id,residential_unit_capacity,employment_capacity,rent_impute,...,tracts_prop_persons_8,tracts_prop_persons_9,nodes_du_1500m,nodes_ave_year_built_3000m,tracts_prop_persons_5,tracts_prop_persons_6,tracts_prop_persons_7,tracts_prop_persons_1,tracts_prop_persons_2,tracts_prop_persons_3
0,060014271001000,-122.233867,37.770270,1475.0,777700.0,0,600105,0,0,1,...,0.0,0.0,7.241375,1949.245239,0.033789,0.014378,0.007189,0.244428,0.35514,0.180446
1,060014271001001,-122.233991,37.769464,1253.0,567900.0,79696,600105,105,367,0,...,0.0,0.0,7.241375,1949.245239,0.033789,0.014378,0.007189,0.244428,0.35514,0.180446
2,060014271001002,-122.234301,37.768350,1475.0,777700.0,739,600105,0,23,1,...,0.0,0.0,7.241375,1949.245239,0.033789,0.014378,0.007189,0.244428,0.35514,0.180446
3,060014271001003,-122.235213,37.768827,1253.0,567900.0,19546,600105,48,108,0,...,0.0,0.0,7.475714,1949.422974,0.033789,0.014378,0.007189,0.244428,0.35514,0.180446
4,060014271001004,-122.236751,37.769734,1253.0,567900.0,14364,600105,35,105,0,...,0.0,0.0,7.157094,1950.110962,0.033789,0.014378,0.007189,0.244428,0.35514,0.180446

In [63]:
# define the columns we need 
block_cols = df_temp.columns

In [64]:
df_temp.columns[:100]
#cols_to_drop = []

Index(['block_id', 'x', 'y', 'res_rents', 'res_values', 'square_meters_land',
       'puma10_id', 'residential_unit_capacity', 'employment_capacity',
       'rent_impute', 'value_impute', 'place_id', 'taz_id', 'node_id',
       'counties_prop_cars_6', 'nodes_low_income_hh_1500m',
       'block_groups_median_children', 'tracts_prop_workers_3',
       'tracts_prop_workers_2', 'tracts_prop_workers_1',
       'tracts_prop_workers_0', 'tracts_prop_workers_5',
       'tracts_prop_workers_4', 'block_groups_median_acres',
       'counties_prop_year_built_1995', 'prop_sector_id_72',
       'prop_sector_id_71', 'pumas_prop_aggr_sector_id_4',
       'pumas_prop_aggr_sector_id_3', 'pumas_prop_aggr_sector_id_2',
       'pumas_prop_aggr_sector_id_1', 'nodes_post2010_du_5000m',
       'pumas_prop_persons_1', 'pumas_prop_persons_2', 'pumas_prop_persons_3',
       'pumas_prop_persons_4', 'pumas_prop_persons_5', 'pumas_prop_persons_6',
       'pumas_prop_persons_7', 'pumas_prop_persons_8', 'pumas_prop_persons_9',
       'tracts_mean_cars', 'tracts_mean_rent', 'nodes_post2000_du_800m',
       'total_households', 'pumas_mean_y', 'pumas_mean_x',
       'tracts_mean_sector_id', 'nodes_du_400m', 'block_groups_sum_workers',
       'pumas_prop_year_built_1930', 'puma10_id_is_0604101',
       'puma10_id_is_0604102', 'prop_year_built_2005',
       'nodes_ave_workers_1500m', 'counties_prop_children_5',
       'res_btype_mode1', 'res_btype_mode2', 'counties_std_persons',
       'nodes_jobs_1500m_62', 'prop_children_5', 'block_groups_mean_acres',
       'pumas_prop_workers_2', 'block_groups_prop_workers_4',
       'block_groups_prop_workers_5', 'puma10_id_is_0608514',
       'block_groups_prop_workers_0', 'nodes_own_singlfam_du_3000m',
       'block_groups_prop_workers_2', 'block_groups_prop_workers_3',
       'nodes_jobs_1500m_agg3', 'pumas_prop_sector_id_42',
       'nodes_jobs_1500m_agg1', 'prop_year_built_1995',
       'counties_median_race_of_head', 'nodes_jobs_1500m_agg5',
       'nodes_jobs_1500m_agg4', 'tracts_prop_children_4',
       'block_groups_prop_sector_id_92', 'pumas_prop_year_built_1965',
       'counties_median_age_of_head', 'counties_total_residential_units',
       'pumas_prop_workers_5', 'block_groups_prop_recent_mover_1',
       'block_groups_prop_recent_mover_0',
       'counties_density_residential_units', 'counties_prop_sector_id_72',
       'prop_workers_0', 'prop_workers_1', 'nodes_jobs_1500m_11',
       'prop_workers_3', 'prop_workers_4', 'prop_workers_5', 'tracts_mean_y',
       'tracts_mean_x', 'puma10_id_is_0609502', 'puma10_id_is_0609503',
       'puma10_id_is_0609501', 'counties_sum_children',
       'tracts_prop_year_built_1985'],
      dtype='object')

Certain columns are definitely not useful. E.g, 'puma10_id_is_0609502', 'puma10_id_is_0609503'
'tracts_mean_y', 'tracts_mean_x'

TODO: spend more time choosing features

In [65]:
# make sure to now include unneeded columns like these:
unneeded_cols = [x for x in block_cols if x.startswith('puma10_id_is_')]+
[x for x in block_cols if (x.endswith('mean_y'))|(x.endswith('mean_x'))]+
[x for x in block_cols if (x.endswith('std_y'))|(x.endswith('std_x'))]+
[x for x in block_cols if x.startswith('pumas_prop_sector_id')]+
[x for x in block_cols if x.startswith('county_id_is_')]+
[x for x in block_cols if x.startswith('tracts_prop_sector_id')]+
[x for x in block_cols if x.startswith('counties_prop_sector_id')]

SyntaxError: invalid syntax (<ipython-input-65-c056f67af7df>, line 2)

In [52]:
len(unneeded_cols)

137

In [67]:
# for now, define: 
# TODO: update these with actual columns to use. 
cols_to_use = ['block_id', 'res_rents', 'res_values', 
       'counties_prop_cars_6', 'nodes_low_income_hh_1500m',
       'block_groups_median_children', 'tracts_prop_workers_3',
       'tracts_prop_workers_2', 'tracts_prop_workers_1',
       'tracts_prop_workers_0', 'tracts_prop_workers_5',
       'tracts_prop_workers_4', 'block_groups_median_acres',
       'counties_prop_year_built_1995', 'prop_sector_id_72',
       'prop_sector_id_71', 'pumas_prop_aggr_sector_id_4',
       'pumas_prop_aggr_sector_id_3', 'pumas_prop_aggr_sector_id_2',
       'pumas_prop_aggr_sector_id_1', 'nodes_post2010_du_5000m',
       'pumas_prop_persons_1', 'pumas_prop_persons_2', 'pumas_prop_persons_3',
       'pumas_prop_persons_4', 'pumas_prop_persons_5', 'pumas_prop_persons_6',
       'pumas_prop_persons_7', 'pumas_prop_persons_8', 'pumas_prop_persons_9',
       'tracts_mean_cars', 'tracts_mean_rent', 'nodes_post2000_du_800m',
       'total_households', 'pumas_mean_y', 'pumas_mean_x',
       'tracts_mean_sector_id', 'nodes_du_400m', 'block_groups_sum_workers',
       'pumas_prop_year_built_1930', 'puma10_id_is_0604101',
       'puma10_id_is_0604102', 'prop_year_built_2005',
       'nodes_ave_workers_1500m', 'counties_prop_children_5']

# Read all rows, using only the columns we want
df_blocks = pd.read_csv(os.path.join('temp',BLOCK_FILE),dtype={'block_id':str}, usecols = cols_to_use)
print(df_blocks.shape)
df_blocks.head()

(109228, 45)

,block_id,res_rents,res_values,counties_prop_cars_6,nodes_low_income_hh_1500m,block_groups_median_children,tracts_prop_workers_3,tracts_prop_workers_2,tracts_prop_workers_1,tracts_prop_workers_0,...,pumas_mean_x,tracts_mean_sector_id,nodes_du_400m,block_groups_sum_workers,pumas_prop_year_built_1930,puma10_id_is_0604101,puma10_id_is_0604102,prop_year_built_2005,nodes_ave_workers_1500m,counties_prop_children_5
0,060014271001000,1475.0,777700.0,0.00658,5.991451,0.0,0.047448,0.388929,0.312725,0.23652,...,-122.203215,930.636505,4.264677,520.0,0.227894,0,0,0.000000,1.227422,0.002638
1,060014271001001,1253.0,567900.0,0.00658,5.991451,0.0,0.047448,0.388929,0.312725,0.23652,...,-122.203215,930.636505,4.264677,520.0,0.227894,0,0,0.200000,1.227422,0.002638
2,060014271001002,1475.0,777700.0,0.00658,5.991451,0.0,0.047448,0.388929,0.312725,0.23652,...,-122.203215,930.636505,4.264677,520.0,0.227894,0,0,0.000000,1.227422,0.002638
3,060014271001003,1253.0,567900.0,0.00658,6.231131,0.0,0.047448,0.388929,0.312725,0.23652,...,-122.203215,930.636505,5.081900,520.0,0.227894,0,0,0.076923,1.231641,0.002638
4,060014271001004,1253.0,567900.0,0.00658,6.107350,0.0,0.047448,0.388929,0.312725,0.23652,...,-122.203215,930.636505,4.551438,520.0,0.227894,0,0,0.125000,1.223755,0.002638

In [68]:
df_blocks['block_id'].head()

0    060014271001000
1    060014271001001
2    060014271001002
3    060014271001003
4    060014271001004
Name: block_id, dtype: object

In [55]:
df_listings = get_craiglist(filters = ["region='sfbay'","rent>100"])

In [70]:
# merge listings with vars on block_id
df_listings.fips_block.head()

print(len(df_listings), len(df_blocks))
df_merged = pd.merge(df_listings, df_blocks, left_on='fips_block', right_on='block_id', how='inner')
if len(df_merged)<len(df_listings):
    print('Warning: only {0} of {1} rows matched'.format(len(df_merged), len(df_listings)))

125560 109228
Warning: only 123463 of 125560 rows matched

In [73]:
# save to hdf
outfile = 'ba_listings.h5'
df_merged.to_hdf(os.path.join(DATA_DIR,outfile),'merged')

//anaconda/lib/python3.5/site-packages/pandas/core/generic.py:1138: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['listing_id', 'date', 'fips_block', 'state', 'region', 'block', 'fips12', 'block_id']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

### Store data to database

We need to create a database table to hold the block-level variables for the rent-predictor app. 


Steps: 

1. Create table schema

Assume all features are floats unless otherwise specified. 

(If have a lot that aren't floats, might want to store the variable names and their types as a json so we can refer back to it when we change the variables.)

2. Copy data into table

Copy data into table. COPY is the fastest way to insert a large amount of data (https://www.postgresql.org/docs/current/static/populate.html)

In [122]:
# connect to local databse

DBNAME = 'rent'
HOST = 'localhost'
conn_str = "dbname = {0} host = {1}".format(DBNAME, HOST)

try:
    conn = psycopg2.connect(conn_str)
    cur = conn.cursor()
except:
    print ("Cannot connection. Check settings")

In [ ]:
# first save data as csv. 
# let's use that temp dir again
FULL_PATH = '/Users/lisarayle/Dropbox/craigslist/src/'  # can't use relative path in postgres, I guess
csvfile = 'blocks_temp.csv'
df_blocks.to_csv(os.path.join('temp',csvfile), index=False)

table_name = 'block_vars'

In [109]:
def create_db_table(col_names,t_name,id_var='block_id'):
    """Create a new table with schema to hold the block-level data. 
    Args: 
        col_names (list): list of names of columns to use. First one can be 'block id'
        t_name (str): name of database table
        id_var (str): name of id variable (default: 'block_id')
    """
    # drop table if already exists
    q = "DROP TABLE IF EXISTS {}".format(t_name)
    cur.execute(q)
    conn.commit()

    # build the SQL string
    sql_begin = "CREATE TABLE {0} (id BIGSERIAL PRIMARY KEY, {1} varchar(15) not null, ".format(t_name, id_var)
    if col_names[0]==id_var:
        sql_middle = " real,".join([c for c in col_names[1:]]) # leave off block id if it's there. 
    else: 
        sql_middle = " real,".join([c for c in col_names])

    sql_end = " real);"
    q = sql_begin+sql_middle+sql_end
    
    cur.execute(q)
    conn.commit()
    return 

def copy_block_data(col_names,t_name,fname):
    """Copy data from csv file into block variables table. 
    Args: 
        col_names (list): list of names of columns to use. First one can be 'block id'
        t_name (str): name of database table
        fname (str): name of csv file with data
    """
    var_string = ','.join([c for c in col_names])
    q="COPY {t}({v}) FROM '{f}' DELIMITERS ',' CSV HEADER;".format(t=t_name,v=var_string, f=os.path.join(FULL_PATH,'temp',fname))
    print(q)
    cur.execute(q)
    conn.commit()
    return

create_db_table(cols_to_use, table_name)
copy_block_data(cols_to_use, table_name, csvfile)

In [127]:
# test queries

q = "select count(*) from block_vars;"
run_query(q)

q = "select column_name from information_schema.columns where table_name='block_vars';"
run_query(q)

q = "select * from block_vars limit 10;"
run_query(q)

[(1,
  '060014271001000',
  1475.0,
  777700.0,
  0.00657999,
  5.99145,
  0.0,
  0.0474479,
  0.388929,
  0.312725,
  0.23652,
  0.00215672,
  0.0115025,
  0.619863,
  0.0843466,
  0.0,
  0.0,
  0.0563796,
  0.178998,
  0.15544,
  0.169053,
  3.14701,
  0.293909,
  0.30904,
  0.164985,
  0.141372,
  0.0533942,
  0.0226813,
  0.00814405,
  0.00363029,
  0.00181514,
  1.94752,
  1636.75,
  2.94523,
  0.0,
  37.7364,
  -122.203,
  930.637,
  4.26468,
  520.0,
  0.227894,
  0.0,
  0.0,
  0.0,
  1.22742,
  0.00263786),
 (2,
  '060014271001001',
  1253.0,
  567900.0,
  0.00657999,
  5.99145,
  0.0,
  0.0474479,
  0.388929,
  0.312725,
  0.23652,
  0.00215672,
  0.0115025,
  0.619863,
  0.0843466,
  0.168539,
  0.00749064,
  0.0563796,
  0.178998,
  0.15544,
  0.169053,
  3.14701,
  0.293909,
  0.30904,
  0.164985,
  0.141372,
  0.0533942,
  0.0226813,
  0.00814405,
  0.00363029,
  0.00181514,
  1.94752,
  1636.75,
  2.94523,
  5.0,
  37.7364,
  -122.203,
  930.637,
  4.26468,
  520.0,
  0.227894,
  0.0,
  0.0,
  0.2,
  1.22742,
  0.00263786),
 (3,
  '060014271001002',
  1475.0,
  777700.0,
  0.00657999,
  5.99145,
  0.0,
  0.0474479,
  0.388929,
  0.312725,
  0.23652,
  0.00215672,
  0.0115025,
  0.619863,
  0.0843466,
  0.0,
  0.0,
  0.0563796,
  0.178998,
  0.15544,
  0.169053,
  3.14701,
  0.293909,
  0.30904,
  0.164985,
  0.141372,
  0.0533942,
  0.0226813,
  0.00814405,
  0.00363029,
  0.00181514,
  1.94752,
  1636.75,
  2.94523,
  0.0,
  37.7364,
  -122.203,
  930.637,
  4.26468,
  520.0,
  0.227894,
  0.0,
  0.0,
  0.0,
  1.22742,
  0.00263786),
 (4,
  '060014271001003',
  1253.0,
  567900.0,
  0.00657999,
  6.23113,
  0.0,
  0.0474479,
  0.388929,
  0.312725,
  0.23652,
  0.00215672,
  0.0115025,
  0.619863,
  0.0843466,
  0.0,
  0.0,
  0.0563796,
  0.178998,
  0.15544,
  0.169053,
  3.25182,
  0.293909,
  0.30904,
  0.164985,
  0.141372,
  0.0533942,
  0.0226813,
  0.00814405,
  0.00363029,
  0.00181514,
  1.94752,
  1636.75,
  3.16243,
  10.0,
  37.7364,
  -122.203,
  930.637,
  5.0819,
  520.0,
  0.227894,
  0.0,
  0.0,
  0.0769231,
  1.23164,
  0.00263786),
 (5,
  '060014271001004',
  1253.0,
  567900.0,
  0.00657999,
  6.10735,
  0.0,
  0.0474479,
  0.388929,
  0.312725,
  0.23652,
  0.00215672,
  0.0115025,
  0.619863,
  0.0843466,
  0.0,
  0.0,
  0.0563796,
  0.178998,
  0.15544,
  0.169053,
  3.21628,
  0.293909,
  0.30904,
  0.164985,
  0.141372,
  0.0533942,
  0.0226813,
  0.00814405,
  0.00363029,
  0.00181514,
  1.94752,
  1636.75,
  4.29637,
  8.0,
  37.7364,
  -122.203,
  930.637,
  4.55144,
  520.0,
  0.227894,
  0.0,
  0.0,
  0.125,
  1.22375,
  0.00263786),
 (6,
  '060014271001005',
  1475.0,
  777700.0,
  0.00657999,
  6.18346,
  0.0,
  0.0474479,
  0.388929,
  0.312725,
  0.23652,
  0.00215672,
  0.0115025,
  0.619863,
  0.0843466,
  0.0,
  0.0,
  0.0563796,
  0.178998,
  0.15544,
  0.169053,
  3.22259,
  0.293909,
  0.30904,
  0.164985,
  0.141372,
  0.0533942,
  0.0226813,
  0.00814405,
  0.00363029,
  0.00181514,
  1.94752,
  1636.75,
  4.05071,
  0.0,
  37.7364,
  -122.203,
  930.637,
  4.60664,
  520.0,
  0.227894,
  0.0,
  0.0,
  0.0,
  1.23416,
  0.00263786),
 (7,
  '060014271001006',
  1253.0,
  567900.0,
  0.00657999,
  6.18346,
  0.0,
  0.0474479,
  0.388929,
  0.312725,
  0.23652,
  0.00215672,
  0.0115025,
  0.619863,
  0.0843466,
  0.0,
  0.0,
  0.0563796,
  0.178998,
  0.15544,
  0.169053,
  3.22259,
  0.293909,
  0.30904,
  0.164985,
  0.141372,
  0.0533942,
  0.0226813,
  0.00814405,
  0.00363029,
  0.00181514,
  1.94752,
  1636.75,
  4.05071,
  1.0,
  37.7364,
  -122.203,
  930.637,
  4.60664,
  520.0,
  0.227894,
  0.0,
  0.0,
  0.0,
  1.23416,
  0.00263786),
 (8,
  '060014271001007',
  1253.0,
  567900.0,
  0.00657999,
  6.23485,
  0.0,
  0.0474479,
  0.388929,
  0.312725,
  0.23652,
  0.00215672,
  0.0115025,
  0.619863,
  0.0843466,
  0.0,
  0.0,
  0.0563796,
  0.178998,
  0.15544,
  0.169053,
  3.22721,
  0.293909,
  0.30904,
  0.164985,
  0.141372,
  0.0533942,
  0.0226813,
  0.00814405,
  0.00363029,
  0.00181514,
  1.94752,
  1636.75,
  3.95711,
  9.0,
  37.7364,
  -122.203,
  930.637,
  4.70207,
  520.0,
  0.227894,
  0.0,
  0.0,
  0.0,
  1.22865,
  0.00263786),
 (9,
  '060014271001008',
  1475.0,
  777700.0,
  0.00657999,
  5.98591,
  0.0,
  0.0474479,
  0.388929,
  0.312725,
  0.23652,
  0.00215672,
  0.0115025,
  0.619863,
  0.0843466,
  0.0,
  0.0,
  0.0563796,
  0.178998,
  0.15544,
  0.169053,
  3.30888,
  0.293909,
  0.30904,
  0.164985,
  0.141372,
  0.0533942,
  0.0226813,
  0.00814405,
  0.00363029,
  0.00181514,
  1.94752,
  1636.75,
  2.97472,
  0.0,
  37.7364,
  -122.203,
  930.637,
  4.54815,
  520.0,
  0.227894,
  0.0,
  0.0,
  0.0,
  1.23107,
  0.00263786),
 (10,
  '060014271001009',
  1475.0,
  777700.0,
  0.00657999,
  5.90645,
  0.0,
  0.0474479,
  0.388929,
  0.312725,
  0.23652,
  0.00215672,
  0.0115025,
  0.619863,
  0.0843466,
  0.0,
  0.0,
  0.0563796,
  0.178998,
  0.15544,
  0.169053,
  3.30013,
  0.293909,
  0.30904,
  0.164985,
  0.141372,
  0.0533942,
  0.0226813,
  0.00814405,
  0.00363029,
  0.00181514,
  1.94752,
  1636.75,
  2.89662,
  0.0,
  37.7364,
  -122.203,
  930.637,
  3.96652,
  520.0,
  0.227894,
  0.0,
  0.0,
  0.0,
  1.23868,
  0.00263786)]