In [4]:
import pandas as pd

In [3]:
data = pd.read_csv(r'..\data\cl_census_CA.csv')
data.head()

,listing_id,date,rent,bedrooms,sqft,rent_sqft,fips_block,state,mpo_id,cars_tot,...,race_of_head_4,race_of_head_5,race_of_head_6,race_of_head_7,race_of_head_8,race_of_head_9,recent_mover_0,recent_mover_1,tenure_1,tenure_2
0,5873877617,2016-11-13,925.0,2.0,874.0,1.058352,60470010021060,CA,6197202.0,4603.0,...,NaN,8.0,527.0,1.0,198.0,42.0,1516.0,628.0,1310.0,834.0
1,5873876292,2016-11-13,735.0,0.0,650.0,1.130769,60070012001017,CA,6198000.0,646.0,...,NaN,NaN,6.0,1.0,3.0,16.0,371.0,44.0,98.0,317.0
2,5873889346,2016-11-13,1675.0,3.0,1000.0,1.675000,60790125023017,CA,6199200.0,1902.0,...,NaN,NaN,10.0,NaN,30.0,21.0,712.0,257.0,477.0,492.0
3,5873893871,2016-11-13,1818.0,2.0,1084.0,1.677122,60830020061208,CA,6196600.0,1058.0,...,NaN,2.0,21.0,1.0,8.0,8.0,427.0,41.0,420.0,48.0
4,5849643168,2016-11-13,1050.0,2.0,1100.0,0.954545,60890113004008,CA,6198100.0,786.0,...,NaN,3.0,NaN,2.0,26.0,23.0,287.0,205.0,202.0,290.0